{{#foreach posts}}
  <article class="{{post_class}}">
    <header>
      <h2><a href="{{url}}">{{title}}</a></h2>
    </header>
    <section>
      <p>
        {{excerpt words='30'}}
        <a href="{{url}}">More</a>
      </p>
    </section>
  </article>
{{/foreach}}
