{{!< default}}

{{#author}}
  {{#if cover_image}}
    <img src="{{img_url cover_image}}" alt="">
  {{/if}}
  {{#if profile_image}}
    <img src="{{img_url profile_image}}" alt="{{name}}'s Picture'">
  {{/if}}
  <section>
    <h2>{{name}}</h2>
    {{#if bio}}
      <h3>{{bio}}</h3>
    {{/if}}
  </section>
{{/author}}

<main>
  {{> post-loop}}
</main>

{{pagination}}
