<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
     <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}">
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{{body}}}
    <footer>
      <section>
        Copyright <a href="{{@blog.url}}">{{blog.title}}</a>
        &copy; {{date format="YYYY"}} &bull; All rights reserved.
      </section>
    </footer>
  {{ghost_foot}}
  </body>
</html>
