{{!< default}}

{{#post}}
  <article class="post_class">
    <header>
      <h1>{{title}}</h1>
      <section>
        <time>
          {{date format="DD MMMM YYYY"}}
        </time>
        {{tags}}
      </section>
    </header>
    <section>
       {{content}}
    </section>
  </article>
  <section>
    {{> post-footer}}
  </section>
{{/post}}
